.calendar table,
.calendar td,
.calendar th {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  color: #ff009d;
}
.calendar table {
  margin: 40;
  width: 75%;
  box-sizing: border-box;
  border: 1pt solid black;
  border-collapse: collapse;
  border-spacing: 0;
}
.calendar table tr {
  background: #c3e4bb;
}
.calendar table tr:hover {
  background: brown;
}
.calendar table th {
  background: rgba(115, 240, 13, 0.699);
  height: 80px;
}
.calendar table th,
.calendar table td {
  padding: 1mm 3mm;
  border: 1pt solid black;
  border-collapse: collapse;
  white-space: nowrap;
}
.calendar table th.fit,
.calendar table td.fit {
  width: 100%;
}
.calendar table th.header,
.calendar table td.header {
  width: 60%;
  border: 1px;
  background: rgba(231, 225, 219, 0.5);
}
.calendar table td:hover {
  background: #e7dede;
}
.calendar table.holidays td {
  padding: 0.8cm 0;
}
.even_pages_right td,
.odd_pages_left td {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.even_pages_right td.day,
.odd_pages_left td.day {
  font-size: 40px;
  margin: 0;
  padding: 0 5;
}
.even_pages_right td .month,
.odd_pages_left td .month {
  text-decoration: underline;
}
.even_pages_right td .year,
.odd_pages_left td .year {
  display: inline-block;
  margin: 10 10px;
}
.even_pages_right td {
  color: black;
  text-align: right ;
}
.odd_pages_left td {
  color: black;
}
pagebreak {
  display: inline-block;
  height: 100px;
}
