.calendar table,
.calendar td,
.calendar th {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size: 50px;
}
.calendar table {
  margin: 30;
  width: 85%;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
}
.calendar table tr {
  font-size: 50px;
}
.calendar table th {
  height: 180px;
  font-size: 40px;
}
.calendar table th,
.calendar table td {
  padding: 1mm 3mm;
  border-collapse: collapse;
  white-space: nowrap;
}
.calendar table th.fit,
.calendar table td.fit {
  width: 100%;
}
.calendar table th.header,
.calendar table td.header {
  width: 60%;
  font-size: 180px;
}
.calendar table th.first_column,
.calendar table td.first_column {
  font-size: 30px;
}
.calendar table th.day_numbers,
.calendar table td.day_numbers {
  font-weight: 700;
}
.calendar table td {
  height: 650px;
  text-align: center;
  vertical-align: top;
}
.calendar table.holidays td {
  padding: 0.8cm 0;
  font-size: 60px;
}
.even_pages_right td,
.odd_pages_left td {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.even_pages_right td.day,
.odd_pages_left td.day {
  font-size: 40px;
  margin: 0;
  padding: 0 5;
}
.even_pages_right td .month,
.odd_pages_left td .month {
  text-decoration: underline;
}
.even_pages_right td .year,
.odd_pages_left td .year {
  display: inline-block;
  margin: 10 10px;
}
.even_pages_right td {
  color: black;
  text-align: right ;
}
.odd_pages_left td {
  color: black;
}
pagebreak {
  display: inline-block;
  height: 100px;
}
