a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: brown;
  text-decoration: underline;
}
.space {
  display: block;
  width: 100%;
  height: 10vh;
}
.calendar-simple {
  width: 100%;
  border: 1px solid brown;
  box-sizing: border-box;
}
.calendar-simple-calendar {
  box-sizing: border-box;
}
.calendar-simple-calendar-head {
  border: 0.5px solid brown;
  background: #8DB644;
  color: white;
  font-size: 140%;
}
.calendar-simple-calendar-head-button {
  display: inline-block;
  color: white;
  margin: 30px 0 30px 30px;
  width: calc( (100%) / 3 );
}
.calendar-simple-calendar-head-title {
  display: inline-block;
  width: calc( (100%) / 3 );
}
.calendar-simple-calendar-head-today {
  display: inline-block;
}
.calendar-simple-calendar-weekdays {
  box-sizing: border-box;
  background: brown;
  color: white;
  overflow: auto;
}
.calendar-simple-calendar-weekdays > div {
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  text-transform: capitalize;
}
.calendar-simple-calendar-days {
  box-sizing: border-box;
  background: white;
  color: grey;
  font-size: 23px;
  overflow: auto;
}
.calendar-simple-calendar-days > div {
  border: 0.5px solid brown;
  padding: 5px;
  transition: 250ms linear all;
}
.calendar-simple-calendar-days > div:hover {
  background: rgba(140, 182, 68, 0.562);
}
.calendar-simple-calendar-days-special {
  background: brown;
  color: #8DB644;
}
.calendar-simple-calendar-days-special:hover {
  color: brown;
  background: rgba(165, 42, 42, 0.774);
}
.calendar-simple-calendar-cell {
  box-sizing: border-box;
  float: left;
  width: calc( (100% - 50px ) / 7 );
  height: 14vh;
}
.calendar-simple-calendar-cell-week {
  width: 50px;
  font-size: 15px;
}
.calendar-simple-calendar-cell-week:hover ~ div:not(.calendar-simple-calendar-cell-week) {
  background: #e18787;
}
.calendar-simple-calendar-cell-week:hover ~ .calendar-simple-calendar-cell-week ~ div {
  background: none;
}
.calendar {
  width: 100%;
  box-sizing: border-box;
}
.head {
  display: flex;
  justify-content: space-around;
  background: #f5d9d9;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
}
.head-content {
  text-align: center;
  margin: 20px 0;
  font-size: 150%;
  color: rgba(179, 189, 153, 0.74);
}
.body {
  box-sizing: border-box;
  width: 100%;
}
.rows {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  background: rgba(179, 189, 153, 0.74);
}
.rows:hover {
  background: #f5d9d9;
}
.cells {
  display: inline-block;
  padding: 25px 1%;
  color: brown;
  width: calc( (100%) / 9 );
  text-align: center;
}
.cells:hover {
  background: #ffffff;
}
.headrow {
  color: brown;
  background: #f5d9d9;
  border-top: 5px solid rgba(179, 189, 153, 0.74);
}
.headrow-cells {
  color: brown;
  background: #f5d9d9;
  display: inline-block;
  width: 4%;
  padding: 25px 0;
  text-align: center;
}
.headrow-cells:hover {
  background: #ffffff;
}
.special {
  color: white;
  border: solid #f5d9d9 2px;
  background: brown;
}
.special:hover {
  color: brown;
}
.foot {
  display: table-footer-group;
  font-weight: bold;
  background-color: #ddd;
}
.highlight {
  background: #471675;
}
body,
table,
td,
th {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}
table {
  margin: 0;
  width: 75%;
  box-sizing: border-box;
  border: 1pt solid black;
  border-collapse: collapse;
  border-spacing: 0;
}
table tr {
  background: #c3e4bb;
}
table tr:hover {
  background: brown;
}
table th {
  background: rgba(240, 115, 13, 0.699);
  height: 80px;
}
table th,
table td {
  padding: 1mm 3mm;
  border: 1pt solid black;
  border-collapse: collapse;
  white-space: nowrap;
}
table th.fit,
table td.fit {
  width: 100%;
}
table th.header,
table td.header {
  width: 60%;
  border: 1px;
  background: rgba(231, 225, 219, 0.5);
}
table td:hover {
  background: #e7dede;
}
table.holidays td {
  padding: 0.8cm 0;
}
