body,
table,
td,
th {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}
table {
  margin: 0;
  width: 75%;
  box-sizing: border-box;
  border: 1pt solid black;
  border-collapse: collapse;
  border-spacing: 0;
}
table tr {
  background: #b1a1c5;
}

table th {
  background: rgba(240, 115, 13, 0.699);
  height: 80px;
}
table th,
table td {
  padding: 1mm 3mm;
  border: 1pt solid black;
  border-collapse: collapse;
  white-space: nowrap;
}
table th.fit,
table td.fit {
  width: 100%;
}
table th.header,
table td.header {
  width: 60%;
  border: 1px;
  background: rgba(231, 225, 219, 0.5);
}
myHeader {
  
}